
body{
    font-family: 'Comic Neue', cursive;
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Girassol', cursive;
    font-weight: normal;   
}
ol,ul{
    margin:0;
    padding:0;
    list-style:none;
}
figure{
    margin:0;
}
.logo{
   
}
.hero{
    height: 300px;
    background-image: url(../img/g.png);
    background-color: #1b2127;
    background-size: 400px 320px;
    background-repeat:no-repeat;
    background-position-x: right;
    display:flex;
    align-items: center;
}
h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    color:white;
    margin: 0;
    
}
h1 strong{
    color:#026fff;
}
.portfolio{
    background-color: #fafafa;
}
.project{
    border:1px solid gray;
    border-radius:10px;
    margin-bottom:15px;
    margin: 10px;
    padding:20px;
    background-color:white;

}


.project-details{
    width: 500px;
    
   
}
.project-imageContainer{
    width: 500px;
    display:inline-block;
}


.header{
    background-color:#1b2127;
    color:white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.menu{
    height: inherit;
}
.header ol{
    display:flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a{
    color:white;
    text-decoration:none;
    height: inherit;
    display:flex;
    align-items: center;
    padding:0 10px;
}
.footer{
    color:white;
    background:#1b2127;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}
.footer a{
    color:white;
}
/* colores------------------------------------------------------>
gris oscuro:#1b2127
gris claro: #626262
background-gris: #1b2127
*/