
body{
    font-family: 'Comic Neue', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Girassol', cursive;
    font-weight: normal;
    
}
.hero{
    height: 300px;
}
h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    
}

.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}