
body{
    font-family: 'Comic Neue', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Girassol', cursive;
    font-weight: normal;
    
}
.hero{
    height: 300px;
    background-image: url(../img/g.png);
    background-color: #1b2127;
    background-size: 400px 300px;
    background-repeat:no-repeat;
    background-position-x: right;
}
h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    color:white;
    
}
h1 strong{
    color:#026fff;
}
.project{
    border:1px solid gray;
    border-radius:10px;
}


.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}
.header{
    background-color:#1b2127;
    color:white;
}
.header a{
    color:white;
    text-decoration:none;
}
/* colores------------------------------------------------------>
gris oscuro:#1b2127
gris claro: #626262
background-gris: #1b2127
*/