
body{
    font-family: 'Comic Neue', cursive;
    margin:0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Girassol', cursive;
    font-weight: normal;   
}
ol,ul{
    margin:0;
    padding:0;
    list-style:none;
}
figure{
    margin:0;
}
.logo{
   
}
.hero{
    height: 300px;
    
    background-color: #1b2127;
    
    
    background-position-x: right;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    padding-top:5px;
    height: 304px;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2;
    color:white;
    margin: 0;
    
}
h1 strong{
    color:#026fff;
}
h2{
    color:#026fff;
    text-transform:uppercase;
    font-family: 'Girassol', cursive;
    font-weight: bold;
    font-size: 24px;
    margin-bottom:40px;

}
.project-course,
.project-date,
.project-url{
    margin:10px 0;
}
.project-description{
    font-size: 20px;
}

.portfolio{
    background-color: #fafafa;
    padding:20px;
    padding-top: 0;
}
.project strong{
    font-family: 'Girassol', cursive;
}
.project{
    border:1px solid gray;
    border-radius:10px;
    margin-bottom:15px;
    
    padding:20px;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.project-tittle{
    font-size:30px;
    margin-bottom:10px;
    margin-top:o;
}
.project-details{
    width: 500px;
    
   
}
.project-imageContainer{
    
    display:inline-block;
}


.header{
    background-color:#1b2127;
    color:white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.menu{
    height: inherit;
}
.header ol{
    display:flex;
    height: inherit;
}
.header ol li{
    height: inherit;
}
.header a{
    color:white;
    text-decoration:none;
    height: inherit;
    display:flex;
    align-items: center;
    padding:0 10px;
}

.h-2{
    padding: 20px;
    margin-top: 0;
}
.event-list{
    display:flex;
    flex-wrap:wrap;
}
.event{
    
    margin:10px;
    width: 480px;
    border-radius:10px;
    overflow:hidden;
    flex-shrink: 0;
    background: #f4fbff;
}
.event img{
    width: 480px;
    height: 200px;
    object-fit:initial;
}
.event-details{
    margin:20px 40px;
    margin-top:-40px;
    background-color:white;
    margin-top:-40px;
    position: relative;
    padding:20px;
    text-align:center;
}
.event-description{
    text-align: left;
}
.event-url{
    border:1px solid ;
    text-decoration:none;
    padding:5px 20px;
    color: #056fff;
    border-radius:5px;
}
.contact{
    background-color:#056fff;
    color:white;
    height:150px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.form-email button{
    color: white;
    display:block;
    background:transparent;
    padding:5px 0px;
    border-radius:5px;
    width:100px;
    margin-top:10px;
   
}
.social{
    
    
}
.social-link{
    width:50px;
    height:50px;
    margin:0 10px;
    display:inline-block;
    background-size:50px 50px;
}
.social-link.github{
    background-image: url(../img/github.png);
    
    
}
.social-link.instagram{
    background-image: url(../img/insta.png);
    
    
}
.form-email input{
    border-color:gray;
    border-style:solid;
    border-radius:5px;
    padding:10px 20px 10px 25px;
    background-image: url('../img/email.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.footer{
    color:white;
    background:#1b2127;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}
.footer a{
    color:white;
    padding-right:10px;
}

.container{
    
    width:1000px;
    margin:0 auto;
    height:inherit;
    display:inherit;
    justify-content:inherit;
    align-items: inherit;
    flex-wrap:inherit;
}
